<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Design Pattern - Publish-Subscribe</title>
</head>
<body>

<!-- alert notification success or error while sending the message -->

<form action="/publish/publish" method="post">

	<p>Send a notification:</p>

	<input type="radio" name="topic" value="Android" id="android" required="required"></input>
	<label for="android">Android</label>
	
	<input type="radio" name="topic" value="Iphone" id="iphone"></input>
	<label for="iphone">Iphone</label>
	
	<br/>

	<input type="text" size="80" placeholder="Message" id="message" name="message" required="required"/>
<br/>	
<br/>	
	<button type="submit"> Publish </button>
	
	<button type="reset"> Clean </button>

</form>
</body>
</html>